<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='layout_style.css')}}">
    <title>Portfolio</title>

</head>


<body>
    <nav>
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('projects')}}">Projects</a>
      <a href="{{url_for('about')}}">About Me</a>
      <a href="{{url_for('contact')}}">Contact</a>
    </nav>

    {% block body %}{% endblock %}

    <footer>
      <a href="#facebook">Facebook</a>
      <a href="#phone">Phone</a>
      <a href="#email">Email</a>
      <a href="#linkedin">Linkedin</a>
    </footer>

  </body>

  </html>