
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='projects_style.css')}}">
</head>

{% extends "layout.html" %} 

{% block body %} 
<main>
    <div class="container">
        <div class="box">
            <img src="{{url_for('static', filename=('RZA.png '))}}" alt="RZA" class="box-image">
            <p>Riget Zoo Adventures</p>
        </div>
        <div class="box">
            <img src="{{url_for('static', filename=('GibJohn.png '))}}" alt="GibJohn" class="box-image">
            <p>GibJohn Tutoring</p>
        </div>
        <div class="box">
            <img src="{{url_for('static', filename=('Rolsa.png '))}}" alt="Rolsa" class="box-image">
            <p> Rolsa Technologies</p>
        
        </div>
    </div>
</main>

{% endblock %} 